* {
    box-sizing: border-box;
}
/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
body {
    margin: 0;
    font-weight: bold;
    display: flex;
    background-color: lightgray;
    flex-direction: column;


}

#img-container {
    width: 100%;
    background: whitesmoke;
    position: relative;
    height: 50px;
    margin-top: 2em;
}

#img-container>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.h1 {
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-items: center;



}

.flex-container {
    width: 100%;
    display: flex;
}

.flex-item {
    width: 100%;
    padding: 1em;

}


img {
    height: 105px;
    width: 105px;
    z-index: 1;


}

.nav {
    width: 100%;
    display: flex;
    font-family: 'Abel', sans-serif;
}

.header {
    font-family: 'Anton', sans-serif;
    margin-left: 3em;
    height: 100px;
    width: 250px;

}